@font-face {
    font-family: 'Monda';
    src: url('Monda-Regular.eot');
    src: url('Monda-Regular.eot?#iefix') format('embedded-opentype'),
        url('Monda-Regular.woff') format('woff'),
        url('Monda-Regular.ttf') format('truetype'),
        url('Monda-Regular.svg#Monda-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monda';
    src: url('Monda-Bold.eot');
    src: url('Monda-Bold.eot?#iefix') format('embedded-opentype'),
        url('Monda-Bold.woff') format('woff'),
        url('Monda-Bold.ttf') format('truetype'),
        url('Monda-Bold.svg#Monda-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

